

/** Full Page Styles */
html, body {
    overflow-x: hidden;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Yomogi, sans-serif;
    font-size: 16px;
    --background-color: #EFEFEF;
    --background-color2: #DEDEDE;
    --primary-color: #222;
    --underline-color: #09F;
    color: var(--primary-color);
    /* background-color: var(--background-color);
    background-image: linear-gradient(rgba(0,0,255,.3) 1px, purple 0),
        linear-gradient(green 5em, rgba(255,0,0, 1) 0, red 5.1em) ;
    background-size: 100% 2rem; */
    background-image: linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em), 
    linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
    background-size: 100% 2rem;
}
@media only screen and (max-width: 500px) {
    :root {
        font-size: 12px;
    }
}
@media only screen and (max-width: 350px) {
    :root {
        font-size: 10px;
    }
}
main {
    min-height: 30vh;
}
header h1 {
    text-align: center;
    font-size: 3.1rem;
}
h2 {
    font-size: 2.3rem;
}
input {
    background: var(--background-color);
    color: var(--primary-color);
    border: .1rem solid var(--primary-color);
    font-family: Yomogi, sans-serif;
}

hr {
    background-color: var(--primary-color);
    height: .3rem;
    margin: auto .5rem;
}
.small-text {
    font-size: 1rem;
}


/** Instructions Section */

.instruction-section {
    margin: auto 3rem;
    padding: 0rem;
}
.instruction-section h2 {
    line-height: 4rem;
}
.instructions {
    font-size: 1.15rem;
    line-height: 2rem;
    content: none;
}

input {
    background: transparent;
}

/* * Input Section */


.input-section {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    align-items: center;
    font-size: 1.3rem;
    flex-wrap: wrap;
}
.input-section > * {
    line-height: 2rem;
    margin: .4rem;
}

.input-section label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.8rem;
    padding: .5rem;
    flex-wrap: wrap;
}

#homework-item-input {
    width: 12rem;
    margin-left: .3rem;
    font-size: 1.5rem;
}
#homework-date-input {
    font-size: 1.5rem;
}
.create-btn {
    color: var(--primary-color);
    background-color: transparent;
    box-shadow: -.08rem -.08rem var(--background-color2);
    border-color: var(--primary-color);
    font-size: inherit;
}


/** Homework List */


.homework-list {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    list-style-type: decimal;
    line-height: 2rem;
}

.homework-list li{
    display: flex;
    justify-content: space-evenly;
    line-height: default;
    width: 90%;
    margin: .2rem;
    font-size: inherit;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: auto;
}

.assignment-span::before {
    content: "• ";
}

.homework-list li > *{
    margin: .3rem;
}

.homework-list li button {
    font-size: inherit;
}

.delete-btn, button[name="update-btn"] {
    background-color: transparent;
    color: var(--primary-color);
}

.date-span {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
}
.edit-btn {
    background-color: transparent;
    color: var(--primary-color);   
}
.activated-edit-btn {
    background-color: var(--primary-color);
    color: var(--background-color);
}
.homework-list li input {
    font-size: inherit;
}

/* * List Modifiers */

.list-modifiers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;
}
.list-modifiers button {
    margin: .2rem;
}
.reorder-btn {
    font-size: 1.8rem;
    background-color: transparent;
    color: var(--primary-color);
    /* border: .1rem solid var(--background-color2); */
    box-shadow: -.1rem -.1rem var(--background-color2);
}
.days-left-btn {
    font-size: 1.8rem;
    background-color: transparent;
    color: var(--primary-color);
    box-shadow: -.1rem -.1rem var(--background-color2);
}
.activated {
    background-color: var(--primary-color);
    color: var(--background-color2);
}
